    <section class="form-config" style="width: 80%;">
      <h5>Configuracion</h5>

      <form id="configuracion" class="config-body">

      <div class="input-group">
        <label for="tiempoMuestrasMin" style="width: 20%;">Tiempo en minutos entre muestras</label>
        <input class="controls" type="number" id="tiempoMuestrasMin" name="tiempoMuestrasMin" value="{{tiempoMuestrasMin}}" placeholder="{{tiempoMuestrasMin}}">
          
      </div>
      <div class="input-group">
        <label for="alarmaTempMin">Alarma Temperaturas bajas</label>
        <input class="controls" type="number" name="alarmaTempMin" id="alarmaTempMin" value="{{alarmaTemp.[0]}}" placeholder="{{alarmaTemp.[0]}}">          
      </div>
      <div class="input-group">
        <label for="alarmaTempMin">Alarma Temperaturas altas</label>
        <input class="controls" type="number" name="alarmaTempMax" id="alarmaTempMax" value="{{alarmaTemp.[1]}}" placeholder="{{alarmaTemp.[1]}}">          
      </div>
      <div class="input-group">
        <label for="alarmaViento">Alarma Vientos Fuertes</label>
        <input class="controls" type="number" name="alarmaViento" id="alarmaViento" value="{{alarmaViento}}" placeholder="{{alarmaViento}}">          
      </div>
      <div class="input-group">
        <label for="alarmaHumedad">Alarma Humedad alta</label>
        <input class="controls" type="number" name="alarmaHumedad" id="alarmaHumedad" value="{{alarmaHumedad}}" placeholder="{{alarmaHumedad}}">          
      </div>
      <div class="input-group">
        <label for="email">Mail de avisos</label>
        <input class="controls" type="email" name="email" id="email" value="{{email}}" placeholder="{{email}}">          
      </div>
      <div class="input-group">
        <label for="horarioLumOn">Horario de encendido de luminaria</label>
        <input class="controls" type="time" name="horarioLumOn" id="horarioLumOn" value="{{horarioLumOn}}" placeholder="{{horarioLumOn}}">          
      </div>
      <div class="input-group">
        <label for="horarioLumOff">Horario de apagado de luminaria</label>
        <input class="controls" type="time" name="horarioLumOff" id="horarioLumOff" value="{{horarioLumOff}}" placeholder="{{horarioLumOff}}">          
      </div>
      <div class="input-group">
        <label for="">Función de Transición de Temperatura</label>
        <div class="input-group funciones">
          <input class="inputFunciones controls" type="number" name="aTemp" id="aTemp" step=".01" value="{{funcTemp.aVal}}" {{#ifCond sensor_DHT_temp 'on'}} disabled  {{/ifCond}}>
          <label for="aTemp">X<sup>2</sup> +</label>
          <input class="inputFunciones controls" type="number" name="bTemp" id="bTemp" step=".01" value="{{funcTemp.bVal}}" {{#ifCond sensor_DHT_temp 'on'}} disabled  {{/ifCond}}>
          <label for="bTemp">X+</label>
          <input class="inputFunciones controls" type="number" name="cTemp" id="cTemp" step=".01" value="{{funcTemp.cVal}}" {{#ifCond sensor_DHT_temp 'on'}} disabled  {{/ifCond}}>
          <div class="dht">
            <input type="checkbox" name="sensor_DHT_temp" id="sensor_DHT_temp" value="on" onclick="changeStateTemp()" {{#ifCond sensor_DHT_temp 'on'}} checked  {{/ifCond}}>
            <label id="dht_temp" for="sensor_DHT_temp">Activar DHT11</label>
          </div>
        </div>
      </div>
      <div class="input-group">
        <label for="">Función de Transición de Humedad</label>
        <div class="input-group funciones">
          <input class="inputFunciones controls" type="number" name="aHum" id="aHum" step=".01" value="{{funcHum.aVal}}" {{#ifCond sensor_DHT_hum 'on'}} disabled  {{/ifCond}}>
          <label for="aTemp">X<sup>2</sup> +</label>
          <input class="inputFunciones controls" type="number" name="bHum" id="bHum" step=".01" value="{{funcHum.bVal}}" {{#ifCond sensor_DHT_hum 'on'}} disabled {{/ifCond}}>
          <label for="bTemp">X+</label>
          <input class="inputFunciones controls" type="number" name="cHum" id="cHum" step=".01" value="{{funcHum.cVal}}" {{#ifCond sensor_DHT_hum 'on'}} disabled  {{/ifCond}}>
          <div class="dht">
            <input type="checkbox" name="sensor_DHT_hum" id="sensor_DHT_hum" value="on" onclick="changeStateHum()" {{#ifCond sensor_DHT_hum 'on'}} checked  {{/ifCond}}>
            <label id="dht_hum" for="sensor_DHT_hum">Activar DHT11</label>
          </div>
        </div>
      </div>
      <div class="input-group">
        <label for="">Función de Transición de Viento</label>
        <div class="input-group funciones">
          <input class="inputFunciones controls" type="number" name="aVien" id="aVien" step=".01" value="{{funcVien.aVal}}">
          <label for="aTemp">X<sup>2</sup> +</label>
          <input class="inputFunciones controls" type="number" name="bVien" id="bVien" step=".01" value="{{funcVien.bVal}}">
          <label for="bTemp">X+</label>
          <input class="inputFunciones controls" type="number" name="cVien" id="cVien" step=".01" value="{{funcVien.cVal}}">
        </div>
      </div>
      <div class="input-group">
        <label for="inputs_sensores">Sensores Activados:</label>

        <div class="inputs_sensores">
          <input type="checkbox" id="tempState" name="tempState" value="on" {{#ifCond tempState 'on'}} checked  {{/ifCond}}>
          <label for="tempState"> Temperatura </label><br>
          <input type="checkbox" id="humState" name="humState" value="on" {{#ifCond humState 'on'}} checked  {{/ifCond}}>
          <label for="humState"> Humedad </label><br>
          <input type="checkbox" id="vienState" name="vienState" value="on" {{#ifCond vienState 'on'}} checked  {{/ifCond}}>
          <label for="vienState"> Viento </label>
        </div>

      </div>
      <div class="buttons_group">
        <a href="/"><button type="button" class="buttons config-button" >Atrás</button></a>
        <input class="buttons config-button" type="submit" name="" value="Ingresar">
      </div>
      </form>
    
        <div id="modal_container" class="modal-container">
          <div id="modal_msj" class="modal">
            <button id="close">Cerrar</button>
          </div>
        </div>

    </section>

    <script>

      const form = document.querySelector('#configuracion');
      const closeNode = document.querySelector("#close");
      const modal = document.querySelector("#modal_container");
      const msj_int =  document.createElement('p');
      const checkboxHum = document.getElementById('sensor_DHT_hum')
      const checkboxTemp = document.getElementById('sensor_DHT_temp')
        
      form.addEventListener('submit', (event) =>{

        event.stopPropagation();
        event.preventDefault();
        
        let mensaje = 'Estacion Configurada correctamente';

        const formData = new FormData(form);

        fetch('/enviar-config',{
          method : "POST",
          body: formData
        })
        .catch((err)=>{
          console.error(err)
          mensaje = 'Error al intentar guardar configuración';
        })
        .then(()=>{
          const button = document.querySelector("#close");
          
          const modal_msj = document.querySelector("#modal_msj");

          msj_int.innerHTML = mensaje;
          modal_msj.insertBefore(msj_int,button);
          modal.classList.add("show");
        })  
      })

      closeNode.addEventListener('click', ()=>{
        modal.classList.remove("show")
        msj_int.remove()
      })     
      

      function changeStateHum() {
        var inputA = document.getElementById("aHum");
        var inputB = document.getElementById("bHum");
        var inputC = document.getElementById("cHum");
        if (checkboxHum.checked == true){
              inputA.setAttribute('disabled', 'disabled');
              inputB.setAttribute('disabled', 'disabled');
              inputC.setAttribute('disabled', 'disabled');
        } else {
            inputA.removeAttribute('disabled');
            inputB.removeAttribute('disabled');
            inputC.removeAttribute('disabled');
        }
      }

      function changeStateTemp() {
        var inputA = document.getElementById("aTemp");
        var inputB = document.getElementById("bTemp");
        var inputC = document.getElementById("cTemp");
        if (checkboxTemp.checked == true){
              inputA.setAttribute('disabled', 'disabled');
              inputB.setAttribute('disabled', 'disabled');
              inputC.setAttribute('disabled', 'disabled');
        } else {
            inputA.removeAttribute('disabled');
            inputB.removeAttribute('disabled');
            inputC.removeAttribute('disabled');
        }
      }      


    </script>