  <script type="text/javascript">
      
      const publicVapidKey="BIuk2jcnHJihbfXxRuW93KaMM2pg9A4CgR2SqlefGUcvcD7ZFJLz-wL9Dk3D_C7xpxK1j-_D3CcYhhrEbLel2Es"

      if ("serviceWorker" in navigator) {
        send().catch(err => console.error(err));
      }
      async function send() {
        // Register Service Worker
        console.log("Registering service worker...");
        const register = await navigator.serviceWorker.register("/worker.js", {
          scope: "/"
        });
        console.log("Service Worker Registered...");

        // Register Push
        console.log("Registering Push...");
        const subscription = await register.pushManager.subscribe({
          userVisibleOnly: true,
          applicationServerKey: urlBase64ToUint8Array(publicVapidKey)
        });
        console.log("Push Registered...");

        // Send Push Notification
        console.log("Sending Push...");
        await fetch("/subscribe", {
          method: "POST",
          body: JSON.stringify(subscription),
          headers: {
            "content-type": "application/json"
          }
        });
        console.log("Push Sent...");
      }

      function urlBase64ToUint8Array(base64String) {
        const padding = "=".repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
          .replace(/\-/g, "+")
          .replace(/_/g, "/");

        const rawData = window.atob(base64);
        const outputArray = new Uint8Array(rawData.length);

        for (let i = 0; i < rawData.length; ++i) {
          outputArray[i] = rawData.charCodeAt(i);
        }
        return outputArray;
      }      

      setInterval(function() {
       $.get('/datos', (d,s) =>{

         $('#termometro').attr('value',d.temperatura)
         $('#viento').attr('value', d.viento )
         $('#digital_humedad').attr('value', d.humedad )
         $('#digital_temperatura').attr('value', d.temperatura )
         $('#gauge_humedad').attr('value', d.humedad )
         
         const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
         const seasson = ["summer", "autumn", "winter", "spring"];
        
         header_text = ''
         const dt = new Date();
         header_text += 'DATE: '+dt.getDate()+"/"+dt.getMonth()+"/"+dt.getFullYear();
         header_text += ' - TIME: '+dt.getHours()+":"+dt.getMinutes();
         header_text += '  '+days[dt.getDay()];
        $('#header_date').text(header_text);
        $('#digital_humedad').text(d.humedad+'%');
        $('#digital_viento').text(d.viento+'Km/h');
        if  (d.temperatura > 15){
          document.getElementById("img_temp").src="/public/temp_hot_1.jpg";
        }else{
          document.getElementById("img_temp").src="/public/temp_cold_1.jpg";
        } 
        
        if  (d.viento < 15){
          document.getElementById("wind_icon_container").innerHTML='<img src="/public/wind_1.png" width="50px">';
        }else if  (d.viento < 35){
          document.getElementById("wind_icon_container").innerHTML='<img src="/public/wind_1.png" width="50px"><img src="/public/wind_1.png" width="50px">';
        }else{
          document.getElementById("wind_icon_container").innerHTML='<img src="/public/wind_1.png" width="50px"><img src="/public/wind_1.png" width="50px"><img src="/public/wind_1.png" width="50px">';
        } 
       })

      }, 300);

      
  </script> 
    <h1>Dashboard</h1>


    <div class="grid-container" style="width:50%; heigth:50%;">
      <div class="item1 grid-item"> 
        <div id="header_date">Aca iria el texto del header</div>
      </div>

      <div class="grid1 grid-item">
        <div class="temperatura">
          <h2>Temperatura</h2>
          <img id="img_temp" src="/public/temp_hot_1.jpg" width="60px">
          <h2 id="digital_temperatura">{{temperatura}}°C</h2>
          <rockiot-ui
          
            type="gauge"
            variation="linear"
            orientation="vertical"
            id="termometro"
            serial="linear_3"
            min="-10"
            max="50"
            units="ºC"
            name = "Temperatura"
            value="{{temperatura}}"
            autocolor = "1"
            click-action="test"
            text-color="#333"
            scale-text-color="#333"
            bar-color="#111"
            progress-color="#4ea5f1"
            control-bg="none"
            control-color="#888"
            scale="1"
            size="sm"
            smallscale="1"
            needle="1"
              svgwidth="150"
              svgheight="150"
            needle-color="#ff8800"
            zones="#00ff00,#ff8800,#ff0000">
          </rockiot-ui>
      </div></div>

      <div id="grid_center" class="grid2">
        
        
      </div>
      
      <div class="grid2 grid-item">
        <div class="humedad">
          <h2>Humedad </h2>
          <img src="/public/humidity_1.png" width="60px">
          <h2 id="digital_humedad"></h2>
            <rockiot-ui 
              id="gauge_humedad"
              type="gauge"
              variation="linear"
              orientation="vertical"
              serial="linear_4" 
              name="Humedad" 
              value="{{humedad}}" 
              units="%" 
              min="0" 
              max="100" 
              precision="2" 
              animation="500" 
              svgwidth="150" 
              svgheight="150" 
              text-color="#777" 
              value-color="#444" 
              value-bg="transparent" 
              value-border="0px solid #fac83c" 
              control-color="#333" 
              control-bg="none" 
              auto-test="1" 
              orientation="vertical" 
              size="sm" 
              scale="0" 
              smallscale="0" 
              ticks="10" 
              needle="0" 
              bar-color="#fff" 
              progress-color="#0000ff" 
              scale-color="#aaa" 
              scale-text-color="#111" 
              needle-color="#0000FF" 
              needle-stroke="#000" 
              zones="" 
              ></rockiot-ui>
          
            <!--<rockiot-ui
              type="gauge"
              variation="level"
              serial="level_0"
              id="humedad"
              min="0"
              max="100"
              value="86"
              size="sm"
              svgwidth="100"
              svgheight="100"
              progress-color="#4ea5f1"
              bar-border-color="#000"
              name = "Humedad"
            ></rockiot-ui>   -->    
      </div></div>
      <div class="grid-item">4</div>
      <div class="grid-item"><div class="">

          <h2>Viento</h2>
          <div id="wind_icon_container">

          </div>
          
          <h2 id="digital_viento">{{viento}}Km/h</h2>
            <rockiot-ui
              type="gauge"
              variation="radial"
              id="viento"
              serial="radial_3"
              name="Viento"
              min="0"
              max="250"
              units="km/h"
              precision="2"
              value-class="rockiot-radial-value-text"
              value = {{viento}}
              scale="1"
              smallscale="1"
              ticks="5"
              size="md"
              radius="md"
              click-action="test"
              text-color="#333"
              scale-text-color="#333"
              bar-color="#00000060"
              progress-color="#4ea5f1"
              control-bg="none"
              control-color="#888"
              needle="1"
              svgwidth="150"
              svgheight="150"
              needle-color="#ff0000"
              background="#000">
            </rockiot-ui>        
      </div></div>
      <div class="grid-item">6</div>
      <div class="grid-item">7</div>
      <div class="grid-item">8</div>
      <div class="grid-item">9</div>
    </div>


    <div class="dashboard_body">

      
      
      

    </div>

    <a href="/reporte" class="config">
      <button  class="buttons">Generar Reporte</button>
    </a>

    {{#ifCond usuario.tipo "admin"}}

      <a href="/configuracion" class="config">
        <button  class="buttons">Configuracion</button>
      </a>

    {{/ifCond}}
    <a href="/logout" class="config">
      <button  class="buttons">Logout</button>
    </a>

<script type="text/javascript">
  
      
        const dta = new Date();
        //const dta = new Date(dt.getMonth()+"/"+dt.getDate()+"/"+dt.getFullYear());

        var seasonArray = [
            {name: 'Autumn', date: new Date(dta.getFullYear(),2,(dta.getFullYear() % 4 === 0) ? 19 : 20).getTime()},
            {name: 'Winter', date: new Date(dta.getFullYear(),5,(dta.getFullYear() % 4 === 0) ? 20 : 21).getTime()},
            {name: 'Spring', date: new Date(dta.getFullYear(),8,(dta.getFullYear() % 4 === 0) ? 22 : 23).getTime()},
            {name: 'Summer', date: new Date(dta.getFullYear(),11,(dta.getFullYear() % 4 === 0) ? 20 : 21).getTime()}
        ];

        const season = seasonArray.filter(({ date }) => date <= dta).slice(-1)[0] || {name: "Winter"}
        
        document.getElementById('grid_center').className = "grid2 "+season.name;
        

</script>